main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: lightslategray;
    text-align:center;
}

.exit {
    background-color: black;
    color: white;
}

.definition {
    display: none;
    position: absolute;
    z-index: 1;
    margin-right: 65%;
    margin-left: 35%;
    padding: 5px;
    background-color: white;
    width: 25%;
    border: solid;
}

.wordbutton {
    background-color: dodgerblue; 
    border: solid black 0.5px;
    color: white;
}

.navigation {
    background-color: lightcoral;
    border: solid black;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}

.footer {
    background-color: lightgreen;
    border: solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
