<html>
    <head>
        <link rel="stylesheet" href="/static/stylesheet.css">
        <script src="/static/script.js"></script>
    </head>
    <body>
        {% block navbar %}
        <nav class="navigation">
            <h1>Word Finder: Sam Jirovec</h1>
        </nav>
        {% endblock %}

        {% block content %}
        default content
        {% endblock %}

        {% block footer %}
        <footer class="footer">
            <a href="https://github.com/samjiro/csci4131-wordlist">Link To My GitHub Repository</a>
        </footer>
        {% endblock %}

    </body>
</html>